{% extends "base.html" %}

{% block title %}Results | Hive Bot Tournament{% endblock title %}

{% block content %}

<h1>Results</h1>

  {% if tournaments %}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Duration</th>
          <th># Bots</th>
          <th>Status</th>
          <th>Winner</th>
        </tr>
      </thead>
      <tbody>
        {% for tournament in tournaments %}
          <tr>
            <td><a href="/tournaments/{{ tournament.id }}/">{{ tournament.get_name }}</a></td>
            <td>{{ tournament.duration }}</td>
            <td>{{ tournament.number_of_bots }}</td>
            <td>{{ tournament.get_status_display }}</td>
            <td>{{ tournament.get_winner_name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No tournaments have been played.</p>
  {% endif %}

{% endblock content %}
