<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}Hive Bot Tournament {% endblock title %}</title>
	<meta name="description" content="Tournament results for head-to-head competitions between two Hive bots.">
	<meta name="author" content="Tyler Price">

	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

	<script src="{{ STATIC_URL }}js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>

<div id="container">
	<header>
    <h1>Hive Bot Tournament</h1>
    <nav>
      <ul>
        <li><a href="/tournaments">Results</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/participate">Participate</a></li>
      </ul>
    </nav>
	</header>

	<div id="main" role="main">
    <section id="content">
      {% block content %}
      
      {% endblock content %}
    </section>

    <section id="sidebar">
      {% block sidebar %}
        <p>Some pretty filler stuff will go here.</p>
      {% endblock sidebar %}
    </section>
	</div>

	<footer>
    {% block footer %}
    
    {% endblock footer%}
	</footer>
</div> <!--! end of #container -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.6.2.js"><\/script>')</script>

<!-- scripts concatenated and minified via ant build script-->
<script src="{{ STATIC_URL }}js/plugins.js"></script>
<script src="{{ STATIC_URL }}js/script.js"></script>
<!-- end scripts-->

<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

</body>
</html>

